<div style="margin:0;padding:0;margin-top:20px;" class="row">
  <div style="margin:0;padding:0" class="col-auto">
    <p class="problem-instruction">答案是</p>
  </div>
  <div style="margin:0;padding:0" class="col-auto">
    <div class="arrow"></div>
  </div>
</div>

<div style="margin:0;padding:0;margin-top:20px;" class="row">
  <div class="problem-answer">
    <p id="problem-fill-in-blank-answer"></p>
  </div>
</div>

<mat-radio-group class="check-radio-group" name="my_options" [required]="isRequired" [(ngModel)]="choice" (click)="readySubmitOptions()">
  <mat-radio-button class="check-radio-button" value="yes">
    <div style="height:50px;margin-left:15px">
      <p class="check-radio-button-p">我做对了</p>
    </div>
  </mat-radio-button>
  <mat-radio-button class="check-radio-button" value="no">
    <div style="height:50px;margin-left:15px">
      <p class="check-radio-button-p">我做错了</p>
    </div>
  </mat-radio-button>
</mat-radio-group>