<div style="margin:0;padding:0;margin-top:20px;" class="row">
  <div style="margin:0;padding:0" class="col-auto">
    <p class="problem-instruction">答案是</p>
  </div>
  <div style="margin:0;padding:0" class="col-auto">
    <div class="arrow"></div>
  </div>
</div>

<div class="check-answer-options" id="check-answer-options">
  <div class="box">
    <input type="radio" id="check-answer-options-a" name="check-answer" />
    <label for="check-answer-options-a">
      <p style="margin-left:50px;">我做对了</p>
    </label>
  </div>
  <div class="box">
    <input type="radio" id="check-answer-options-b" name="check-answer" />
    <label for="check-answer-options-b">
      <p style="margin-left:50px;">我做错了</p>
    </label>
  </div>
</div>