
body {
    background: #7952B8; 
    background: -webkit-linear-gradient(right, #7952B8, #AB6FC2);
    background: -moz-linear-gradient(right, #7952B8, #AB6FC2);
    background: -o-linear-gradient(right, #7952B8, #AB6FC2);
    background: linear-gradient(to left, #7952B8, #AB6FC2);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
    /* background-image: url("../../assets/img/bg.jpg");
    background-repeat: repeat; */
}

.page {
    background: #7952B8; 
    background: -webkit-linear-gradient(right, #7952B8, #AB6FC2);
    background: -moz-linear-gradient(right, #7952B8, #AB6FC2);
    background: -o-linear-gradient(right, #7952B8, #AB6FC2);
    background: linear-gradient(to left, #7952B8, #AB6FC2);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
    /* background-image: url("../../assets/img/bg.jpg");
    background-repeat: repeat; */
}

.card{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    cursor:pointer;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }