<div style="margin:0;padding:0;margin-top:20px;" class="row">
  <div style="margin:0;padding:0" class="col-auto">
    <p class="problem-instruction">请选择你的答案</p>
  </div>
  <div style="margin:0;padding:0" class="col-auto">
    <div class="arrow"></div>
  </div>
</div>

<mat-radio-group class="check-radio-group" name="my_options" [(ngModel)]="choice" (click)="readySubmitOptions()">
  <mat-radio-button class="check-radio-button" value="1">
    <div style="height:50px;margin-left:15px">
      <div class="check-radio-button-forimg" id="problem-question-0"></div>
    </div>
  </mat-radio-button>
  <mat-radio-button class="check-radio-button" value="2">
    <div style="height:50px;margin-left:15px">
        <p class="check-radio-button-forimg" id="problem-question-1"></p>
    </div>
  </mat-radio-button>
  <mat-radio-button class="check-radio-button" value="3">
    <div style="height:50px;margin-left:15px">
        <p class="check-radio-button-forimg" id="problem-question-2"></p>
    </div>
  </mat-radio-button>
  <mat-radio-button class="check-radio-button" value="4">
    <div style="height:50px;margin-left:15px">
        <p class="check-radio-button-forimg" id="problem-question-3"></p>
    </div>
  </mat-radio-button>
</mat-radio-group>