<div style="margin:0;padding:0;margin-top:20px;" class="row">
  <div style="margin:0;padding:0" class="col-auto">
    <p class="problem-instruction">请选择你错误的得分点</p>
  </div>
  <div style="margin:0;padding:0" class="col-auto">
    <div class="arrow"></div>
  </div>
</div>


<div *ngFor="let solution of cur_problem.problem_long_question_solution[cur_sub_prob]; index as i" (click)="readySubmitOptions()">
  <mat-checkbox class="check-radio-button" value="option-{{i}}" [(ngModel)]="checked[i]">
    <div class="row">
      <div class="col-auto">
        <div style="min-height:30px;margin-left:15px;">
          <div class="check-radio-button-forimg" [innerHTML]="cur_problem.problem_long_question_solution[cur_sub_prob][i]"></div>
        </div>
      </div>
      <div style="margin-left:10px;" class="col-auto">
        <p class="vertical-middle"> • • • • • • • • • &nbsp;&nbsp;&nbsp;&nbsp; 知识点：{{cur_kcs[i]}}</p>
      </div>
    </div>
  </mat-checkbox>
</div>

<mat-checkbox class="check-radio-button" value="option-alternate" [(ngModel)]="checked_alternate" style="margin-top:10px;">
    <div style="min-height:10px;margin-left:15px;margin-top:15px;">
      <p style="font-size:13px;line-height:15px;color:#A0A0A0" class="check-radio-button-forimg"> 我的方法和以上步骤不同</p>
    </div>
  </mat-checkbox>