<div style="margin:0;padding:0;margin-top:20px;" class="row">
  <div style="margin:0;padding:0" class="col-auto">
    <p class="problem-instruction">请选择你错误的得分点</p>
  </div>
  <div style="margin:0;padding:0" class="col-auto">
    <div class="arrow"></div>
  </div>
</div>



<!-- <ul>
  <li *ngFor="let solution of this.cur_problem.problem_long_question_solution[this.cur_sub_prob]; index as i">
    <mat-checkbox class="check-radio-button" value="option-{{i}}">
      <div style="min-height:50px;margin-left:15px;">
        <div class="check-radio-button-p" id="long-question-solution-check-{{i}}"></div>
      </div>
    </mat-checkbox>
  </li>

</ul> -->
<div *ngFor="let solution of this.cur_problem.problem_long_question_solution[this.cur_sub_prob]; index as i">
  <mat-checkbox class="check-radio-button" value="option-{{i}}">
    <div style="min-height:50px;margin-left:15px;">
      <div class="check-radio-button-p" id="long-question-solution-check-{{i}}"></div>
    </div>
  </mat-checkbox>
</div>

<!-- <div class="row">
  <mat-checkbox class="check-radio-button" value="option-0">
    <div style="min-height:50px;margin-left:15px;">
      <div class="check-radio-button-p" id="00000"> hello</div>
    </div>
  </mat-checkbox>
</div>

<div class="row">
  <mat-checkbox class="check-radio-button" value="option-1">
    <div style="min-height:50px;margin-left:15px;">
      <div class="check-radio-button-p" id="1111"> hello1</div>
    </div>
  </mat-checkbox>
</div> -->