<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Signin</title>

  <!-- Bootstrap core CSS -->
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">


</head>

<body>


  <div class="login-page">
    <div class="container">
      <div class="row justify-content-md-center">
        <img style="height:70px;" src="../../assets/logo.png" alt="">
      </div>
    </div>

    <div [ngSwitch]="page" class="question">
      <div *ngSwitchCase=0 style="margin-top:20px;" class="form">
        <input type="text" [(ngModel)]="curUser.username" placeholder="用户名" />
        <input type="password" [(ngModel)]="curUser.password" placeholder="密码" />
        <p style="color:rgb(211, 12, 12)" *ngIf="warning_display">{{warning}}</p>
        <p style="color:#4CAF50" *ngIf="message_display">{{message}}</p>
        <button (click)='login()'>登录</button>
        <p class="message">没有账号？
          <a href="javascript:void(0);" (click)="switchPage()">点击注册</a>
        </p>
      </div>

      <div *ngSwitchCase=1 style="margin-top:20px;" class="form">
        <input type="text" [(ngModel)]="register_username" placeholder="请输入用户名" />
        <input type="password" [(ngModel)]="register_password[0]" placeholder="请输入你的密码" />
        <input type="password" [(ngModel)]="register_password[1]" placeholder="请再次输入密码" />
        <p style="color:rgb(255, 0, 0)" *ngIf="warning_display">{{warning}}</p>
        <button (click)='register()'>注册</button>
      </div>

    </div>

  </div>


</body>

</html>