<div style="margin:0;padding:0;margin-top:20px;" class="row">
  <div style="margin:0;padding:0" class="col-auto">
    <p class="problem-instruction">答案是: </p>
  </div>
  <div style="margin:0;padding:0" class="col-auto">
    <div class="arrow"></div>
  </div>
</div>

<div class="multiple-choice-options" id="multiple-choice-options">
  <div class="multiple-choice-box">
    <input type="radio" id="multiple-choice-options-answer" name="check-answer-0" checked/>
    <label for="">
      <p style="margin-left:50px;" id="problem-answer"></p>
    </label>
  </div>

  <div style="margin:0;padding:0;margin-top:20px;" class="row">
    <div style="margin:0;padding:0" class="col-auto">
      <p class="problem-instruction">你的选择：</p>
    </div>
    <div style="margin:0;padding:0" class="col-auto">
      <div class="arrow"></div>
    </div>
  </div>

  <div class="multiple-choice-box">
    <input type="radio" id="multiple-choice-options-input" name="check-answer-1" />
    <label for="">
      <p style="margin-left:50px;" id="problem-answer-input"></p>
    </label>
  </div>
</div>