<div style="margin:0;padding:0;margin-top:20px;" class="row">
  <div style="margin:0;padding:0" class="col-auto">
    <p id="problem-instruction" class="problem-instruction">答案解析</p>
  </div>
  <div style="margin:0;padding:0" class="col-auto">
    <div class="arrow"></div>
  </div>
</div>

<p style="color:#76b852;font-size:14px;margin-top:10px;margin-bottom:10px;" class="question">知识点：{{kc_names[cur_problem.problem_kc[0] - 1]}}</p>

<div style="margin-top:20px;">
  <p [innerHTML]="cur_problem.problem_solution_steps"></p>
</div>
