<div class="question">
  <blockquote style="margin:15px">
    <p>题目{{cur_problem_number}}</p>
  </blockquote>
  <p [innerHTML]="cur_problem.problem_text" [@state]="cur_problem.state"></p>
  <ul class="problem-questions">
    <li *ngFor="let question of cur_problem.problem_questions; let i=index">
      <p id="problem-question-{{i}}"></p>
    </li>
  </ul>

  <div [ngSwitch]="[cur_step]" [@state]="cur_problem.state">
    <app-long-question-input *ngSwitchCase=0 [cur_problem]="cur_problem" [cur_step]="cur_step" [cur_sub_prob]="cur_sub_prob"></app-long-question-input>
    <app-long-question-check *ngSwitchCase=1 [cur_problem]="cur_problem" [cur_step]="cur_step" [cur_sub_prob]="cur_sub_prob"
      (saveSubmitOptions)="saveSubmitOptions($event)"></app-long-question-check>
    <app-long-question-step-check *ngSwitchCase=2 [cur_problem]="cur_problem" [cur_step]="cur_step" [cur_sub_prob]="cur_sub_prob"
      (saveStepCheckOptions)="saveStepCheckOptions($event)" (saveStepCheckOptionsAlternate)="saveStepCheckOptionsAlternate($event)"></app-long-question-step-check>
    <app-long-question-check *ngSwitchCase=3 [cur_problem]="cur_problem" [cur_step]="cur_step" [cur_sub_prob]="cur_sub_prob"
      (saveSubmitOptions)="saveSubmitOptions($event)"></app-long-question-check>
    <app-long-question-step-check *ngSwitchCase=4 [cur_problem]="cur_problem" [cur_step]="cur_step" [cur_sub_prob]="cur_sub_prob"
      (saveStepCheckOptions)="saveStepCheckOptions($event)" (saveStepCheckOptionsAlternate)="saveStepCheckOptionsAlternate($event)"></app-long-question-step-check>
  </div>


  <div style="margin:0;padding:0;position:absolute;top:88%;width:95%" class="row justify-content-end">
    <div class="col-auto">
      <button id="next-step-button" type="button" class="btn-input-answer btn-theme" (click)="enterNextProblem()">下一题</button>
    </div>
    <div class="col-auto">
      <button id="check-solution-button" type="button" class="btn-input-answer btn-theme" (click)="enterNextStep()">下一步</button>
    </div>
    <div class="col-auto">
      <button id="check-answer-button" type="button" class="btn-input-answer btn-theme" (click)="enterNextStep()">核对答案</button>
    </div>
  </div>
</div>



<!-- <div style="display:none" class="symbol-input" id="symbol-input">
  <div class="row justify-content-md-center">
    <div class="col">
      <p class="symbol-input-title">符号输入器</p>
    </div>
  </div>

  <div class="row">
    <div style="margin:0;padding-right:0;" class="col-auto">
      <div href="#" class="btn-symbol">
        sign
      </div>
    </div>
    <div style="margin:0;padding:0;" class="col-auto">
      <div href="#" class="btn-symbol">
        sign
      </div>
    </div>
    <div style="margin:0;padding:0;" class="col-auto">
      <div href="#" class="btn-symbol">
        sign
      </div>
    </div>
    <div style="margin:0;padding:0;" class="col-auto">
      <div href="#" class="btn-symbol">
        sign
      </div>
    </div>
  </div>
  <div class="row">
    <div style="margin:0;padding-right:0;" class="col-auto">
      <div href="#" class="btn-symbol">
        sign
      </div>
    </div>
    <div style="margin:0;padding:0;" class="col-auto">
      <div href="#" class="btn-symbol">
        sign
      </div>
    </div>
    <div style="margin:0;padding:0;" class="col-auto">
      <div href="#" class="btn-symbol">
        sign
      </div>
    </div>
    <div style="margin:0;padding:0;" class="col-auto">
      <div href="#" class="btn-symbol">
        sign
      </div>
    </div>
  </div>
  <div class="row">
    <div style="margin:0;padding-right:0;" class="col-auto">
      <div href="javascript:void(0);" (click)="addSymbol('(');" class="btn-symbol">
        (
      </div>
    </div>
    <div style="margin:0;padding:0;" class="col-auto">
      <div href="javascript:void(0);" (click)="addSymbol(')');" class="btn-symbol">
        )
      </div>
    </div>
    <div style="margin:0;padding:0;" class="col-auto">
      <div href="javascript:void(0);" (click)="addSymbol('+');" class="btn-symbol">
        +
      </div>
    </div>
    <div style="margin:0;padding:0;" class="col-auto">
      <div href="javascript:void(0);" (click)="addSymbol('-');" class="btn-symbol">
        -
      </div>
    </div>
  </div>
  <div class="row">
    <div style="margin:0;padding-right:0;" class="col-auto">
      <div href="javascript:void(0);" (click)="addSymbol('/');" class="btn-symbol">
        /
      </div>
    </div>
    <div style="margin:0;padding:0;" class="col-auto">
      <div href="javascript:void(0);" (click)="addSymbol('sin');" class="btn-symbol">
        sin
      </div>
    </div>
    <div style="margin:0;padding:0;" class="col-auto">
      <div href="javascript:void(0);" (click)="addSymbol('cos');" class="btn-symbol">
        cos
      </div>
    </div>
    <div style="margin:0;padding:0;" class="col-auto">
      <div href="javascript:void(0);" (click)="addSymbol('tan');" class="btn-symbol">
        tan
      </div>
    </div>
  </div>
</div> -->